# Python
__pycache__/
*.pyc
*.egg-info/
*.egg
dist/
build/

# Virtual environment
.venv/

# Testing
.pytest_cache/
.ruff_cache/
htmlcov/
.coverage

# Environment
.env

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store

# MLflow local artifacts
mlflow.db
mlruns/

# Frontend
**/node_modules/
.vercel
.omx/
